<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.nf511.flower.dao.CartDao"><!--.dao-->
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称-->

    <!--查询全部-->
    <select id="selectAllCart" resultMap="allCart">
         select * FROM cart c,flower f WHERE c.flowerId=f.flowerId
         and userId=#{userId}
    </select>
    <resultMap id="allCart" type="Cart">
        <id column="cartId" property="cartId"></id>
        <result column="flowerId" property="flowerId"></result>
        <result column="userId" property="userId"></result>
        <result column="cartAmount" property="cartAmount"></result>
        <!--映射关系，指定属性与属性的类型-->
        <association property="flower" javaType="Flower">
            <id property="flowerId" column="flowerId"></id>
            <result property="flowerTypeId" column="flowerTypeId"></result>
            <result property="flowerUseId" column="flowerUseId"></result>
            <result property="flowerBranchNumberId" column="flowerBranchNumberId"></result>
            <result property="flowerMarketPrice" column="flowerMarketPrice"></result>
            <result property="flowerPrice" column="flowerPrice"></result>
            <result property="flowerInventory" column="flowerInventory"></result>
            <result property="flowerImageName" column="flowerImageName"></result>
            <result property="flowerName" column="flowerName"></result>
            <result property="flowerDateTime" column="flowerDateTime"></result>
            <result property="flowerMaterials" column="flowerMaterials"></result>
            <result property="flowerPackaging" column="flowerPackaging"></result>
            <result property="flowerLanguage" column="flowerLanguage"></result>
            <result property="flowerIntroduce" column="flowerIntroduce"></result>
            <result property="stateId" column="stateId"></result>
            <result property="flowerSalesVolume" column="flowerSalesVolume"></result>
            <result property="flowerTotalSales" column="flowerTotalSales"></result>
        </association>
    </resultMap>

    <!--查询购物车是否存在-->
    <select id="selectCartByUserIdAndFlowerId" resultMap="allCart">
         select * FROM cart where userId=#{userId} and flowerId=#{flowerId}
    </select>

    <!--添加-->
    <insert id="insertCart" parameterType="Cart" useGeneratedKeys="true" keyProperty="cartId">
        insert into Cart(flowerId,userId,cartAmount)
        values (#{flowerId},#{userId},#{cartAmount})
    </insert>

    <!--修改购物车商品数量-->
    <update id="updateCartAmount" parameterType="Cart">
      update Cart set cartAmount=#{cartAmount} where cartId=#{cartId}
    </update>

    <!--删除-->
    <delete id="deleteCart" parameterType="int">
        delete from Cart where cartId=#{cartId};
    </delete>

    <!--查询id-->
    <select id="selectAllCartId" resultMap="allCart">
        select * from Cart WHERE cartId in
        <foreach collection="cartIds" open="(" item="cartId" separator="," close=")">
            #{cartId}
        </foreach>
    </select>




    <!--分页查询-->
    <select id="selectAllCartByPage" resultMap="allCart">
         select * from Cart limit #{pagelimit},#{size};
    </select>

    <!--批量删除-->
    <delete id="deleteAll" parameterType="java.util.List">
        delete from Cart
        <where>
            <if test="cartId!=null and cartId.size() gt 0">
                cartId in
                <foreach collection="cartIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>


    <!--修改-->
    <update id="updateCart" parameterType="Cart">
      update Cart set flowerId=#{flowerId},userId=#{userId},cartAmount=#{cartAmount} where cartId=#{cartId}
    </update>
</mapper>